40 14 * * 1,2,3,4,5 python3 /hlp/fund/index_for_fund_auto_notification.py >> /hlp/fund/fund.log 2>&1
00 10 * * 1,2,3,4,5 python3 /hlp/fund/store_shanghai_index.py >> /hlp/fund/store.log 2>&1
00 9 * * 6 python3 /hlp/fund/fund_manager_check.py >> /hlp/fund/check_manager.log 2>&1
00 9 * * 1 echo > /hlp/fund/fund.log
0 0 3 * * echo > /hlp/fund/check_manager.log
00 9 * * 1 echo > /hlp/fund/store.log
00 10 30 3,6,9,12 * python3 /hlp/fund/check_3m_fund_ranking.py 3 >> /hlp/fund/ranking_3m.log 2>&1
00 10 1 1,4,7,10 * python3 /hlp/fund/check_3m_fund_ranking.py 6 >> /hlp/fund/ranking_6m.log 2>&1
